.graph {
    width: 550px;
    height: 362px;
}

.splash {
    padding-top: 56px;
    padding-bottom: 72px;
    position: relative;
}


.splash h1 {
    text-align: center;
    font-size: 80px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 18px;
}

.splash p {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 36px;
    font-weight: 300;
    font-size: 30px;
}

.splash .learn-more {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

.splash .learn-more {

}

.progress {
    width: 50%;
    margin: 100px auto;
    display: none;
}

.progress .bar {
    width: 50%;
}

.container #content {
    padding-top: 60px;
}

a.alleged {
	color: #FE9F30;
}


span.flags {
    display:inline-block;
    margin: 0 10px 5px 0;
}
span.flags img {
    position:relative;
    top:2px;
}

.tooltip-inner {
    text-align:left;
}

#outdatedData > div {
    position:relative;
    top:60px;
}

dd {
    margin-left: 0;
    margin-bottom: 1.2em;
}

pre {
    padding: 5px;
}

input {
    width:150px;
}

@media screen and (max-width: 980px) {
    .nav-collapse ul {
        padding-top:20px;
    }
    .navbar-search {
        float: none;
        margin: -5px 0 -6px -10px;
        border-top: 0;
        border-bottom: 0;
        width:200px;
        max-width:30%;
        display:inline-block;
    }
    .navbar-search input {
        max-width:100%;
    }
    .splash h1 {
        font-size:40px;
    }
    .splash p {
        line-height: 30px;
        font-size: 24px;
    }
    .span6.hide {
        display: none !important;
    }
}
