.graph {
    width: 550px;
    height: 362px;
}

.progress {
    width: 50%;
    margin: 100px auto;
    display: none;
}

.progress .bar {
    width: 50%;
}

.container #content {
    padding-top: 60px;
}

a.alleged {
	color: #FE9F30;
}


span.flags {
    display:inline-block;
    margin: 0 10px 5px 0;
}
span.flags img {
    position:relative;
    top:2px;
}

.tooltip-inner {
    text-align:left;
}

#outdatedData > div {
    position:relative;
    top:60px;
}

input {
    width:150px;
}

@media screen and (max-width: 980px) {
    .nav-collapse ul {
        padding-top:20px;
    }
    .navbar-search {
        float: none;
        margin: -5px 0 -6px -10px;
        border-top: 0;
        border-bottom: 0;
        width:200px;
        max-width:30%;
        display:inline-block;
    }
    .navbar-search input {
        max-width:100%;
    }
    .span6.hide {
        display: none !important;
    }
}
